.chat {
    width: 420px;
    max-width: 420px;

    // header
    &__header {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: $color-primary;
        padding: $chat-padding;
        border-radius: 8px 8px 0 0;
        border-bottom: 5px solid $color-secondary;
        &__img {
            max-width: 100%;
            width: 42px;
            border: 2px solid #85dc7a;
            border-radius: 50%;
            margin-right: 1rem
        }
    }
    &__name {
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
    }
    &__userStatus {
        color: #fff;
        font-size: 12px;
        font-weight: 300;
    }

    &__box {
        // styles for chat box
        flex-grow: 1;
        overflow: auto;
        overflow-x: hidden;
        height: 460px;
        background-image: url('https://www.itl.cat/pngfile/big/1-17706_whatsapp-chat-wallpaper-hd-whatsapp-background.jpg');
    }
    &__msgList {
        display: flex;
        padding: 2rem;
        flex-direction: column;
    }
    &__msgListYou {
        align-self: flex-end;
        background-color: $color-primary;
        list-style: none;
        word-break: break-word;
        border-radius: 12px 0 12px 12px;
        margin-bottom: 16px;
        padding: 12px;
    }
    &__msgYou {
        max-width: 100%;
        width: fit-content;
        color: #fff;
        font-size: 14px;

    }
    &__msgListSelf {
        align-self: flex-start;
        background-color: $color-secondary;
        list-style: none;
        word-break: break-word;
        border-radius: 0 12px 12px 12px;
        margin-bottom: 16px;
        padding: 12px;
    }
    &__msgSelf {
        max-width: 100%;
        width: fit-content;
        color: #fff;
        font-size: 14px; 
    }

    // footer
    &__footer {
        position: relative;
        padding: $chat-padding ($chat-padding * 2.5);
        background-color: $color-primary;
        border-radius: 0 0 8px 8px;
        border-top: 5px solid $color-secondary;
        .chat {
            &__textareaWrapper {
                position: relative;
            }
            &__textarea {
                width: 100%;
                position: relative;
                padding: 2px 12px;
                border-radius: 8px;
                outline: none;
                font-size: .75rem;
                font-weight: 400;
                color: #555;
                resize: none;
            }
            &__btn-send {
                position: absolute;
                top: 0px;
                right: 0px;
                padding: 0px;
                width: 50px;
                height: 49px;
                border-radius: 8px;
                border: none;
                background: transparent;
                cursor: pointer;
            }
        }
    }
    &__copyright {
        color: #fff;
        font-size: 12px;
        text-align: center;
        margin-top: 6px;
        a {
            color:$color-secondary;
        }
    }
}

.nice-scroll::-webkit-scrollbar {
    width: 8px;
    background-color: #f0f2f5;
}

.nice-scroll::-webkit-scrollbar-thumb {
    background-color: #ced0d4;
    border-radius: 3px;
  }