.chat {
    width: 420px;
    max-width: 420px;

    // header
    &__header {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: $color-primary;
        padding: $chat-padding;
        border-radius: 8px 8px 0 0;
        border-bottom: 5px solid $color-secondary;
        &__img {
            max-width: 100%;
            width: 42px;
            border: 2px solid #85dc7a;
            border-radius: 50%;
            margin-right: 1rem
        }
    }
    &__name {
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
    }
    &__userStatus {
        color: #fff;
        font-size: 12px;
        font-weight: 300;
    }

    &__box {
        // styles for chat box
        flex-grow: 1;
        overflow: auto;
        overflow-x: hidden;
        height: 460px;
        background-image: url('https://www.itl.cat/pngfile/big/1-17706_whatsapp-chat-wallpaper-hd-whatsapp-background.jpg');
    }
    &__msgList {
        display: flex;
        padding: $chat-padding;
        flex-direction: column;
    }
    &__msg {
        background-color: white;
        list-style: none;
        word-break: break-word;
        padding: $chat-msg-padding;
        max-width: 75%;
        color: #fff;
        font-size: 14px;
        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &.chat__msg--left {
            align-self: flex-start;
            background-color: $color-primary;
            border-radius: 0 12px 12px 12px;
        }
        &.chat__msg--right {
            align-self: flex-end;
            background-color: $color-secondary;
            border-radius: 12px 0 12px 12px;
        }
    }

    // footer
    &__footer {
        position: relative;
        padding: $chat-padding ($chat-padding * 2.5);
        background-color: $color-primary;
        border-radius: 0 0 8px 8px;
        border-top: 5px solid $color-secondary;
        .chat {
            &__textareaWrapper {
                position: relative;
            }
            &__textarea {
                display: block;
                width: 100%;
                position: relative;
                padding: 8px calc(50px + 12px) 8px 12px;
                border-radius: 8px;
                outline: none;
                font-size: .75rem;
                font-weight: 400;
                color: $body-color;
                resize: none;
                border: none;
                &::placeholder {
                    color: lighten($body-color, 30%)
                }
            }
            &__btn-send {
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0;
                padding: 0px;
                width: 50px;
                border-radius: 0 8px 8px 0;
                border: none;
                font-size: 1.25rem;
                background: rgba(darkblue, .1);
                cursor: pointer;
                color: $color-primary;

                &:hover {
                    color: $color-secondary;
                    background-color: rgba($color-secondary, .15);
                }
                &:active {
                    color: $color-secondary;
                    background-color: rgba($color-secondary, .20);
                    svg {
                        transform: scale(.85);
                    }
                }
                &:focus {
                    outline: none;
                    color: $color-secondary;
                    background-color: rgba($color-secondary, .20);
                }
            }
        }
    }
    &__copyright {
        color: #fff;
        font-size: 12px;
        text-align: center;
        margin-top: 6px;
        a {
            color:$color-secondary;
        }
    }
}

.nice-scroll::-webkit-scrollbar {
    width: 8px;
    background-color: #f0f2f5;
}

.nice-scroll::-webkit-scrollbar-thumb {
    background-color: #ced0d4;
    border-radius: 3px;
}